.upcoming-classes {
  margin-top: 1rem;
  margin-bottom: 4rem;
}
.upcoming-class {
  h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  .time {
    font-size: 1rem;
  }
  .class-details {
    margin-left: 1rem;
    margin-bottom: 1rem;
    h3 {
      padding-left: 1rem;
      background-color: $brand-three;
      color: white;
      font-size: 1rem;
      border-bottom: 1px solid white;
      a,
      a:visited,
      a:active {
        color: white;
        text-decoration: underline;
      }
      a:hover {
        color: white;
        text-decoration: none;
      }
    }
  }
  @media screen and (min-width: $max-mobile-width) {
    .class-details {
      width: 100%;
    }
  }
  @media screen and (min-width: $max-tablet-width) {
    .class-details {
      display: table;

      h3 {
        display: table-cell;
        border-right: 1px solid white;
      }
      .time {
        width: 26%;
      }
      .location {
        width: 37%;
      }
      .details {
        width: 37%;
      }
    }
  }

  @media screen and (max-width: $max-tablet-width) {
    .class-details {
      margin-bottom: 3rem;
    }
  }
}
