
#nameplate        
    h1 
      a(href='/') Stephanie Hicks Yoga
    img(src='/static/img/stephaniehicks.jpg' alt='Stephanie Hicks')

#social                
    a(href='//www.instagram.com/steph.hicks/')
        i.fa.fa-instagram(aria-hidden='true')
        span.sr-only
            | @steph.hicks on Instagram
    a(href='/atom.xml')
        i.fa.fa-rss(aria-hidden='true')
        span.sr-only
            | Atom Feed